{% extends "base.html" %}
{% block title %} Ajouter un RECEVEUR (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau FILM (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_add_receveur.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_add_receveur.nom_prenom_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_prenom_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_prenom_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_nom_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_nom_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_nom_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_adresse_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_adresse_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_adresse_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_mail_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_mail_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_mail_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_num_tel_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_num_tel_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_num_tel_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_date_naissance_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_date_naissance_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_date_naissance_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_add_receveur.nom_groupe_sanguin_receveur_add_wtf.label }}<br>
						{{ form_add_receveur.nom_groupe_sanguin_receveur_add_wtf(size=32) }}<br>
						{% for error in form_add_receveur.nom_groupe_sanguin_receveur_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					Ce module m'a aspiré ma vie et mon énergie à 2000000000%... RDV l'année en 1ère année...
				</div>
				{{ form_add_receveur.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

