{% extends "base.html" %}
{% block title %} Page route essai {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>





			</h2>
			<h3>
				 "Une victime du Module 164"
			</h3>
			<main class="site-content">
				<p>
					Je n'ai malheureusement eu le temps de finir ce projet qui me tenais à coeur mais dans la vie,
					un jour, le grand chêne à aussi été un gland comme moi.
				</p>
				<p>
					Même si ce projet n'est pas terminé, je continuerais à avancer dessus pour par la suite vous l'envoyer...
					Ce fût un plaisir de bosser dessus mais comme tout vos modules, ça vous aspire la vie comme luigi.
					À très bientôt,
				</p>
				<p>
					- Nico Mengisen de la info1c 2021/2022, le 11.06.2022.
				</p>
			</main>
		</div>
	</div>
</div>
{% endblock %}
