{% extends "base.html" %}
{% block title %} Nico Mengisen {% endblock %}
{% block body %}
<video width="1080" height="720" autoplay muted>
<source src="BloodDonation.mp4" type="video/mp4">
</video>
	</style>
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</h3>
		</div>
	</div>
</div>

{% endblock %}
