{% extends "base.html" %}
{% block title %} Nico Mengisen {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Exercice du 2022.05.11
			</h3>
			<h3>
				CRUD (Create Read Update Delete) sur la table intermerdiaire.<br>
			</h3>
			<ul>
				<li class="list-item">
					Maccaud attaque et utilise : Lire le readme.md !
				</li>

				<li class="list-item">
					Ce n'est pas très efficace...
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
