{% extends "base.html" %}
{% block title %} Editer un DONNEUR (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un DONNEUR !!
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
		<!--prenom-->	{{ form.nom_prenom_update_wtf.label }}<br>
		<!--prenom-->	{{ form.nom_prenom_update_wtf(size=32) }}<br>
		<!--nom-->		{{ form.nom_nom_update_wtf.label }}<br>
		<!--nom-->		{{ form.nom_nom_update_wtf(size=32) }}<br>
 		<!--adresse-->	{{ form.nom_adresse_update_wtf.label }}<br>
		<!--adresse-->	{{ form.nom_adresse_update_wtf(size=32) }}<br>
		<!--mail-->		{{ form.nom_mail_update_wtf.label }}<br>
		<!--mail-->		{{ form.nom_mail_update_wtf(size=32) }}<br>
		<!--num_tel-->	{{ form.nom_num_tel_update_wtf.label }}<br>
		<!--num_tel-->	{{ form.nom_num_tel_update_wtf(size=32) }}<br>
<!--date_naissance-->	{{ form.nom_date_naissance_update_wtf.label }}<br>
<!--date_naissance-->	{{ form.nom_date_naissance_update_wtf(size=32) }}<br>
<!--groupe_sanguin-->	{{ form.nom_groupe_sanguin_update_wtf.label }}<br>
<!--groupe_sanguin-->	{{ form.nom_groupe_sanguin_update_wtf(size=32) }}<br>
						{% for error in form.nom_prenom_update_wtf.errors %}
						{% for error in form.nom_nom_update_wtf.errors %}
						{% for error in form.nom_adresse_update_wtf.errors %}
						{% for error in form.nom_mail_update_wtf.errors %}
						{% for error in form.nom_num_tel_update_wtf.errors %}
						{% for error in form.nom_date_naissance_update_wtf.errors %}
						{% for error in form.nom_groupe_sanguin_update_wtf.errors %}

							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

