{% extends "base.html" %}
{% block title %} Editer un DONNEUR (WTF) {% endblock %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un donneur !
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						<center>
						{{ form.nom_prenom_update_wtf.label }}<br>
						{{ form.nom_prenom_update_wtf(size=32)<br>
						{{ for error in form.nom_prenom_update_wtf.errors }}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_nom_update_wtf.label }}<br>
						{{ form.nom_nom_update_wtf(size=32) }}<br>
						{% for error in form.nom_nom_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_adresse_update_wtf.label }}<br>
						{{ form.nom_adresse_update_wtf(size=32) }}<br>
						{% for error in form.nom_adresse_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_mail_update_wtf.label }}<br>
						{{ form.nom_mail_update_wtf(size=32) }}<br>
						{% for error in form.nom_mail_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_num_tel_update_wtf.label }}<br>
						{{ form.nom_num_tel_update_wtf(size=32) }}<br>
						{% for error in form.nom_num_tel_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_date_naissance_update_wtf.label }}<br>
						{{ form.nom_date_naissance_update_wtf(size=32) }}<br>
						{% for error in form.nom_date_naissance_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_groupe_sanguin_update_wtf.label }}<br>
						{{ form.nom_groupe_sanguin_update_wtf(size=32) }}<br>
						{% for error in form.nom_groupe_sanguin_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

