{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-md-12">
			<p>
				<center>
				Ajouter un nouveau donneur dans notre liste de patient (WTForms)
				</center>
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						<center>
						{{ form.nom_prenom_wtf.label }}<br>
						{{ form.nom_prenom_wtf(size=32) }}<br>
						{% for error in form.nom_prenom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_nom_wtf.label }}<br>
						{{ form.nom_nom_wtf(size=32) }}<br>
						{% for error in form.nom_nom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_adresse_wtf.label }}<br>
						{{ form.nom_adresse_wtf(size=32) }}<br>
						{% for error in form.nom_adresse_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_mail_wtf.label }}<br>
						{{ form.nom_mail_wtf(size=32) }}<br>
						{% for error in form.nom_mail_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
					<p>
						<center>
						{{ form.nom_num_tel_wtf.label }}<br>
						{{ form.nom_num_tel_wtf(size=32) }}<br>
						{% for error in form.nom_num_tel_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						</center>
					</p>
				</div>
					<center>
				{{ form.submit(class="btn btn-primary") }}
				</center>
			</form>
		</div>
	</div>
</div>
{% endblock %}

